.checkout-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

.checkout-container h2 {
  color: #2c3e50;
}

.checkout-container .alert {
  margin-bottom: 1rem;
}

.checkout-container .form-label {
  font-weight: bold;
}

.checkout-container .form-control {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* .checkout-container button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-container button:hover {
  background-color: #2980b9;
} */

.custom-btn {
  background-color: #E5E4E2; 
  color: #333333;
  border: none; 
  font-weight: bold; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.custom-btn:hover {
  background-color: #D4D3CF; 
  transform: scale(1.05); 
}
