<div class="form-container">
  <h2>Login</h2>

  <!-- Error message for failed login -->
  <div *ngIf="loginError" class="alert alert-danger">
    <p>Invalid username or password. Please try again.</p>
  </div>

  <!-- Login form -->
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" formControlName="username" type="text" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" formControlName="password" type="password" class="form-control" />
    </div>

    <div class="text-center mt-3">
      <p>Not a user? <a routerLink="/register">Register</a></p>
    </div>
    
    <button type="submit" class="btn custom-btn" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
